<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
     <title>ToDo App</title>
</head>
<body>
    <header>
       <div>
        <h1>To Do</h1>
        <img src="/imagens/moon-icon.png"alt="icone de Lua">
       </div>

       <form action="">
         <input type="text" id="" placeholder="criar uma nova tarefa" name="novaTarefa">
         <button type="submit">criar</button>
        </form>
    </header>

    {{{body}}}
</body>
</html>