<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
</head>
<body>
    <header>
       <div>
        <h1>To DO</h1>
        <img src="/imagens/moon-icon.png"alt="icone de Lua">
       </div>
    </header>

    {{{body}}}
</body>
</html>