<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <div>
                    <input type="radio" id="tarefa-1">
                <label for="tarefa-1">completar curso de Javascript</label>
                </div>

                <button>
                    <img src="/imagens/x-icon.png" alt="icone de X para excluir uma tarefa">
                </button>
            </form>
        </div>
        <div class="tarefa">
            <form action="">
                <div>
                    <input type="radio" id="tarefa-1">
                <label for="tarefa-1">completar curso de Javascript</label>
                </div>

                <button>
                    <img src="/imagens/x-icon.png" alt="icone de X para excluir uma tarefa">
                </button>
            </form>
        </div>
        <div class="tarefa">
            <form action="">
                <div>
                    <input type="radio" id="tarefa-1">
                <label for="tarefa-1">completar curso de Javascript</label>
                </div>

                <button>
                    <img src="/imagens/x-icon.png" alt="icone de X para excluir uma tarefa">
                </button>
            </form>
        </div>
        <div class="informacoes">
            <p>5  tarefas ativas</p>
            <a href="">Limpar tarefas</a>
        <div>
    </section>

    <section class="botoes">
        <a href="">Todas</a>
        <a href="">Ativas</a>
        <a href="">Completas</a>
        </section>
        
    </section>
</main>