<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <div>
                    <input type="radio" id="tarefa-1">
                <label for="tarefa-1">completar curso de Javascript</label>
                </div>

                <button>
                    <img src="/imagens/x-icon.png" alt="icone de X para excluir uma tarefa">
                </button>
            </form>
        </div>
    </section>
</main>