* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --bg-header-mobile: url(../imagens/bg-header-mobile-light.png);
    --bg-header-desktop: url(../imagens/bg-header-desktop-light.png);
    --iput-nox-shadow: rgba(194, 195, 214, 0.50);
    --placeholder-color: #9495A5;
    --input-color: #494C6B;
    --button-color: #393A4B;
    --button-color-hover:  #494C6B;
    --bg-body: #FAFAFA;
    --bg-tarefas: #FFF;
    --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
    --border-color: #E3E4F1;
    --text-color: #494C6B;
    --info-text-color:#9495A5;
    --info-button-hover:#494C6B;
    --info-button-active: #3A7CFD;
}

body {
    background: var(--bg-body);
}

header {
    background-image: var(--bg-header-mobile);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 12.5rem;

    padding: 3rem 1.75rem 0;
}

header > div {
    max-width: 33.75rem;
    margin-inline:auto;
}

header div div {
    display:flex;
    align-items: center;
    justify-content: space-between;
  
    margin-bottom: 2.5rem;
}

header div h1 {
    color:#fff;
    text-transform: uppercase;
}

header form {
    display: flex;
    gap: 0.5rem;
}

header form input {
    padding: 1.12rem;
    border-radius: 0.3125rem;
    border: none;
    box-shadow: 0px 35px 50px - 15px var(--iput-nox-shadow);
    width: 100%;
    outline: none;
    font-size: 0.75rem;
    color: var(--input-color);
}

header form inpuT::placeholder {
    color: var(--placeholder-color);
}

header form button {
    padding: 0.75rem;
    border-radius: 0.3125rem;
    border: none;
    background: var(--button-color);
    color:#fff;
}

main {
    padding-inline: 1.75rem;
}

.tarefas {
    background: var(--bg-tarefas);
    box-shadow: var(--box-shadow);
    border-radius: 0.3125rem;
    margin-top: -1rem;
    max-width: 33.75rem;
    margin-inline: auto;;
}

.tarefas .tarefa {
    padding:   1rem 1.25rem;
}

.tarefas .tarefa + .tarefa {
    border-top: 1px solid var(--border-color);
}

.tarefa form {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.tarefa div {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    color: var(--text-color);
    font-size: 0.75rem;

}

.tarefa button {
    border: none;
    background: none;
}

.informacoes {
    border-top: 1px solid var(--border-color);
    padding: 1.25rem 1.75rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: var(--info-text-color);
}   

.informacoes a:hover {
    color: var(--info-button-hover);
}

.informacoes a,
.botoes a {
    text-decoration: none;
    color: var(--info-text-color);
}

.informacoes .botoes {
    display: none;
}

.botoes {
   padding-block: 1rem; 
   background: var(--bg-tarefas);
    border-radius: 0.3125rem;
    margin-top: 1rem;
    max-width: 33.5rem;
    margin-inline: auto;
    
    display: flex;
    justify-content: center;
    gap: 1.2rem;

    font-size: 0.875rem;
}

.botoes .active {
    color: var(--info-button-active);
}

@media(min-width:1000px) {
    header {
        background: var(--bg-header-desktop);
        height: 18.75rem;
        padding-top:4.37rem;

    }
    
    header div div {
        margin-bottom: 3rem;
    }

    header form input {
        padding: 1.25rem 1.5rem;
        font-size: 1.25rem;
    }

    header form button {
        font-size: 1.125rem;
    }

    header form button:hover {
        cursor: pointer;
        background: var(--button-color-hover);
    }
    .tarefas {
        margin-top: -3rem;
    }

    .tarefas .tarefa {
        padding: 1.25rem 1.5rem;
    }

    .tarefa div {
        font-size: 1.25rem;
    }

    section.botoes {
        display: none;
    }

    .informacoes .botoes {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .informacoes {
        font-size: 0.875rem;
    }

    .tarefa button {
        visibility: hidden;
    }

  
    .tarefa input:hover,
    .tarefa label:hover,
    .tarefa button:hover {
        cursor: pointer;
    }

    .tarefa:hover button {
        visibility: initial;
    }

   

}

